
.Button{
    width: auto;
    margin-top: 1rem;

    button{
        padding: 0.7rem 1.5rem;
        border: none;
        border-radius: 0.4rem;
        background: rgb(85,18,255);
        color: #fff;
        cursor: pointer;
    }
}