.categories{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 40rem);
    grid-template-rows: repeat(3, 200px);
    gap: 1.3rem;
    width: 95%;
    margin: auto;
    
    z-index: 100000;

   
}